#header {
  grid-area: header;
  display: grid;
  background: #c32e42;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}
#header .title {
  margin-left: 32px;
  grid-column: 1;
  align-self: end;
  overflow: hidden;
}
#header .controls {
  grid-column: 2;
  margin-left: 32px;
}
#header input[type=submit] {
  background: #c72f43;
  color: #f3cad0;
  border: 2px solid #df7886;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 8px;
}
#header input[type=submit]:hover {
  color: #fff;
  background: #d54f61;
  border: 2px solid #e9a1ab;
}
#header label {
  color: #f0d2d2;
  user-select: none;
}
