/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: -4px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d54f61;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #df7886;
}
input:focus + .slider {
  background-color: #df7886;
}
input:checked + .slider:before {
  transform: translateX(19px);
}
button {
  background: #c72f43;
  color: #f3cad0;
  border: 2px solid #df7886;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 8px;
}
button:hover {
  color: #fff;
  background: #d54f61;
  border: 2px solid #e9a1ab;
}
button.on-white {
  background: #fdf8f9;
  color: #c32e42;
  border: 2px solid #df7886;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 8px;
}
button.on-white:hover {
  background: #fcf4f5;
  border: 2px solid #c32e42;
}
