#connection-closed {
  display: none;
  position: fixed;
  z-index: 4096;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
}
#connection-closed .dialog {
  position: fixed;
  z-index: 8192;
  width: 640px;
  height: 240px;
  background: #c32e42;
  color: #fff;
  font-weight: bold;
  line-height: 240px;
  text-align: center;
  font-size: 32px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
}
#layout {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 128px
		1fr;
  grid-template-areas: "header header" "users details";
  height: 100vh;
}
#users {
  grid-area: users;
  border-right: 2px solid #c32e42;
}
#users table.users {
  border-collapse: collapse;
}
#users table.users th {
  color: #444;
  text-align: left;
  border-bottom: 1px solid #000 !important;
  background-color: #f6f6f6;
}
#users table.users th,
#users table.users td {
  padding: 6px;
  border: 1px solid #aaa;
  white-space: nowrap;
}
#users table.users th:first-child,
#users table.users td:first-child {
  border-left: none;
}
#users table.users th:last-child,
#users table.users td:last-child {
  border-right: none;
}
#details {
  grid-area: details;
  padding: 32px;
}
h1:first-child {
  margin-top: 0px;
}
