#connection-closed {
  display: none;
  position: fixed;
  z-index: 4096;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
}
#connection-closed .dialog {
  position: fixed;
  z-index: 8192;
  width: 640px;
  height: 240px;
  background: #c32e42;
  color: #fff;
  font-weight: bold;
  line-height: 240px;
  text-align: center;
  font-size: 32px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
}
#layout {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 128px
		1fr;
  grid-template-areas: "header header" "users details";
  height: 100vh;
}
#users {
  grid-area: users;
  border-right: 2px solid #c32e42;
}
#users table.users {
  border-collapse: collapse;
}
#users table.users th {
  color: #444;
  text-align: left;
  border-bottom: 1px solid #000 !important;
  background-color: #f6f6f6;
}
#users table.users th,
#users table.users td {
  padding: 8px 12px;
  border: 1px solid #aaa;
  white-space: nowrap;
}
#users table.users th:first-child,
#users table.users td:first-child {
  border-left: none;
}
#users table.users th:last-child,
#users table.users td:last-child {
  border-right: none;
}
#users .user {
  user-select: none;
}
#users .user.selected {
  background-color: #eeeae4;
}
#details {
  grid-area: details;
  padding: 32px;
}
.fields {
  display: none;
  grid-template-columns: min-content 1fr;
  align-items: center;
}
.fields div {
  margin-bottom: 8px;
  white-space: nowrap;
}
.fields div:nth-child(odd) {
  margin-right: 8px;
}
.fields div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.fields div:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.fields div:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}
.fields div:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
.fields div:nth-child(5) {
  grid-column: 1;
  grid-row: 3;
}
.fields div:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
}
.fields div:nth-child(7) {
  grid-column: 1;
  grid-row: 4;
}
.fields div:nth-child(8) {
  grid-column: 2;
  grid-row: 4;
}
.fields div:nth-child(9) {
  grid-column: 1;
  grid-row: 5;
}
.fields div:nth-child(10) {
  grid-column: 2;
  grid-row: 5;
}
.fields input[type="text"] {
  padding: 8px;
}
#username {
  font-weight: bold;
}
h1:first-child {
  margin-top: 0px;
}
#user-updated {
  display: none;
  padding: 10px;
  border-radius: 4px;
  color: #436a2a;
  background-color: #dcf2ce;
}
